<div  *ngIf="photos">
    <!-- class="card-deck" -->
<mdb-card *ngIf="photos.length>0">
    <!--Card image-->
    <mdb-card-img style="min-height: 170px !important;" [src]="'/uploads/' + photos[0].fileName" alt="Card image cap"></mdb-card-img>
    <!--Card content-->
    <mdb-card-body>

      <!--Title-->
      <mdb-card-title>
        <h4>{{vehicle.name}}</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text>{{vehicle.costPrice | currency : 'NGN': 'symbol-narrow'}}
      </mdb-card-text>
      <mdb-card-text style="text-decoration: line-through !important;">{{vehicle.sellingPrice | currency : 'NGN': 'symbol-narrow'}}
      </mdb-card-text>
      <mdb-card-text>
        <a (click)="seeDetails()" mdbBtn color="primary" mdbWavesEffect>View Details</a>
      </mdb-card-text>

    </mdb-card-body>
  </mdb-card>
  <br>
</div>
