<div class="col col-sm-6 col-md-6" style="margin: 0 auto !important;">
  <form class="text-center border border-light p-5" [formGroup]="emailForm" (ngSubmit)='getUser()'>

      <p class="h4 mb-4">Your Email</p>
      <input type="email" id="email" formControlName="email" class="form-control mb-4" placeholder="E-mail">
      <button mdbBtn color="info" block="true" class="my-4" type="submit"
      [disabled]="!emailForm.valid || disableButton">{{disableButton? 'Submitting': 'Submit'}}</button>
    </form>
</div>
<br>
<br>
<br>
<!-- <div class="col col-sm-6 col-md-6" style="margin: 0 auto !important;">
    <editor apiKey="jloewlkwof22qx6gntxrekmeuzspsfozx63lgdz8ukboygp4">
      <label for="editor">Message</label>
      <textarea name="message" id="message" cols="30" rows="10"></textarea>
    </editor>
</div> -->
<div class="col col-sm-6 col-md-6" style="margin: 0 auto !important;">
    <ckeditor [editor]="Editor" data=""></ckeditor>
</div>