<br>
<br>
<br>
<br>
    <table mdbTable>
      <thead class="red lighten-1 black-text">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Manage</th>
        </tr>
      </thead>
      <tbody style="font-weight: 300">
        <tr  *ngFor="let vehicle of vehicles">
          <th scope="row">{{vehicle.id}}</th>
          <td>{{vehicle.name}}</td>
          <td>{{vehicle.sellingPrice}}</td>
          <td><a [routerLink]="['/vehicle/photo/' + vehicle.id]" [routerLinkActive]="['link-active']" >manage</a></td>
        </tr>
      </tbody>
    </table>
    <br>
    <br>
    <app-pagination *ngIf="queryResult.totalItems > query.pageSize" [totalItems]="queryResult.totalItems" [pageSize]="query.pageSize" (pageChanged)="onPageChange($event)"></app-pagination>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
