<!-- <div style="margin-left: 10em;"> -->
<footer class="page-footer font-small red pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase" style="font-weight: 500;">Contact us</h5>
          <br>
          <p class="skfooter--paragraph"><i class="fa fa-map-marker"></i> 3 Alake Bus-stop beside Samkoll Events Center, Idimu Lagos.</p>
          <p class="skfooter--paragraph"><i class="fa fa-phone"></i>  +2348023434836</p>
          <p class="skfooter--paragraph"><i class="fa fa-envelope"></i> skineromotors@gmail.com</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-6">

            <!-- Links -->
            <h5 class="text-uppercase" style="text-align: center; font-weight: 500;">Follow us</h5>
            <br>
            <ul class="list-unstyled" style="text-align: center">
              <li>
                <a href="#!" class="skSocial"><i class="fab fa-facebook"></i></a>
              </li>
              <li>
                <a href="#!" class="skSocial"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#!" class="skSocial"><i class="fab fa-instagram"></i></a>
              </li>
              <li>
                <a href="#!" class="skSocial"><i class="fab fa-whatsapp"></i></a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <!-- <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div> -->
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://adesokantoyeeb.com"> Adesokan.com</a>
    </div>
    <!-- Copyright -->

  </footer>
<!-- </div> -->
