<footer class="page-footer font-small red pt-4">
    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase" style="font-weight: 500;">Contact us</h5>
          <br>
          <p class="skfooter--paragraph"><i class="fa fa-map-marker"></i> 3 Alake Bus-stop beside Samkoll Events Center, Idimu Lagos.</p>
          <p class="skfooter--paragraph"><i class="fa fa-phone"></i>  +2348023434836</p>
          <p class="skfooter--paragraph"><i class="fa fa-envelope"></i> skineromotors@gmail.com</p>

        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase" style="text-align: center; font-weight: 500;">Links</h5>
              <br>
            <ul class="list-unstyled"  style="text-align: center;">
              <li>
                <a class="skLinks" [routerLink]='["/"]'>About</a>
              </li>
              <li>
                <a class="skLinks" [routerLink]='["/contactus"]'>Contact us</a>
              </li>
              <li>
                <a class="skLinks" [routerLink]='["/publicVehicles"]'>Products</a>
              </li>
            </ul>
          </div>

        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase" style="text-align: center; font-weight: 500;">Follow us</h5>
            <br>
            <ul class="list-unstyled" style="text-align: center">
              <li>
                <a href="#!" class="skSocial"><i class="fab fa-facebook"></i></a>
              </li>
              <li>
                <a href="#!" class="skSocial"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#!" class="skSocial"><i class="fab fa-instagram"></i></a>
              </li>
              <li>
                <a href="#!" class="skSocial"><i class="fab fa-whatsapp"></i></a>
              </li>
            </ul>

          </div>
      </div>

    </div>
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://tayyib-a60.github.io/Adesokan"> Adesokan.com</a>
    </div>

  </footer>
