
<br><br>
<div class="col col-md-6 col-lg-6 col-sm-6 col-xs-10" style=" margin: 0 auto !important;">
<div class="book" style="margin: 0 auto !important;">
    <p class="h5" style="text-align: center; color: #eee;">Send us a message</p>
    <div class="book__form">
      <form class="form" [formGroup]="contactForm" (ngSubmit)=onSubmit()>

        <div class="form__group">
          <input type="text" name="name" class="form__input" placeholder="Full name" formControlName="name" id="name"
            required>
          <label for="name" class="form__label">Full name</label>
        </div>

        <div class="form__group">
          <input type="email" name="email" class="form__input" placeholder="Email address" id="email" formControlName="email"
            required>
          <label for="email" class="form__label">Email address</label>
        </div>
        <div class="form__group">
          <input type="text" name="phone" class="form__input" placeholder="Phone" id="phone" formControlName="phone"
            required>
          <label for="phone" class="form__label">Phone</label>
        </div>
        <div class="form__group">
          <textarea type="email" name="message" cols="12" rows="6" class="form__input" placeholder="Your message" id="message"
            formControlName="message" required></textarea>
          <label for="message" class="form__label">Your message</label>
        </div>

        <div class="form__group">
          <button class="btnGrow" color="primary" mdbBtn type="submit" rounded="true" mdbWavesEffect [disabled]="!contactForm.valid">{{buttonStatus}}</button>
        </div>
      </form>
      <!-- <button class="btnGrow" color="primary" mdbBtn type="button" rounded="true" mdbWavesEffect (click)="show()">Test</button> -->
    </div>
  </div>
</div>
